
.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

.container form {
    width: 50%;
    height: auto;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #939393;
}

input,
select {
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group,
.input-group-number,
.input-group-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
}

input[type=number]{
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-datetime-edit {
    font-family:Arial, Helvetica, sans-serif; 
}

.cadastro-btn{
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Cadastro Material Design*/

.descricao{
    width: 100%;
}

.valor{
    width: 15%;
}

.select-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.select-menu select,
.select-menu input{
    width: 100%;
}

.adicionar-btn{
    width: 8%;
    height: auto;
    border: none;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}