.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

/*Cadastro Material Design*/

.descricao {
    width: 100%;
}

.valor {
    width: 15%;
}


.select-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-12px);
}

.select-menu select,
.select-menu input {
    width: 100%;
}

.toggle-btn {
    width: 8%;
    height: var(--space-32px);
    padding: var(--space-4px);
    border: none;
    border-radius: 8px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}