
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}

.container nav {
    width: 100%;
    height: var(--space-56px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px var(--black) solid;
}

#buttonConfirmar {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--black);
    cursor: pointer;
    font-size: var(--fs-body);
}

#containerSecao{
    display: none;
}

