

.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}

.container nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav p {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    z-index: 1;
}

nav span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    background-color: #d7d7d7;
    transition: ease-in-out 0.3s;
}

nav p:nth-child(1):hover~span {
    left: 0;
}

nav p:nth-child(2):hover~span {
    left: 50%;
}

.title3 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dae1ff;
}

.menu-selecao {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: 30px 0px;
    /* border:2px solid #000; */
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

thead tr {
    border: none;
    border-bottom: 3px solid #aaaaff;
    background-color: #cdcdcd;
}

tr {
    height: 50px;
    border: 1px solid #000;
    border-right: none;
    border-left: none;
    text-align: center;
}


td {
    border-collapse: collapse;
    border: none;
}

.container button {
    width: 40%;
    height: 40px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    background-color: #727272;
}