:root {
    /* Variáveis de cor [DEFAULT MODE] */
    --background-color: #F8F8FF;
    --primary-color: #011638;
    --secondary-color: #B9AFA2;
    --secondary-color-outline: #8C7D69;
    --third-color: #AEC3D6;
    --success: #1b9470;
    --error: #890047;
    --white: #F8F8FF;
    --black: #0e0f10;

    /* Variáveis de texto */
    --font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* Escala baseada em tamanho */
    --fs-ppp: 0.55rem;
    --fs-pp: 0.75rem;
    --fs-p: 0.875rem;
    --fs-base: 1rem;
    --fs-m: 1.125rem;
    --fs-g: 1.5rem;
    --fs-gg: 2rem;
    --fs-ggg: 3rem;

    /* Escala por função/tipo */
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-body: 1rem;
    --fs-caption: 0.75rem;


    /* Variáveis de espaçamento */
    --space-4px: 0.25rem;
    --space-8px: 0.5rem;
    --space-12px: 0.7rem;
    --space-16px: 1rem;
    --space-24px: 1.5rem;
    --space-32px: 2rem;
    --space-56px: 3.5rem;
    --space-64px: 4rem;
}

/* [DARK MODE] */
.dark-mode {
    background-color: #011223;
}


/* Elementos padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    width: 100%;
    min-height: 110vh;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

header {
    width: 100%;
    height: var(--space-64px);
    margin-bottom: var(--space-32px);
    background-color: var(--primary-color);
    color: var(--white);
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    padding: var(--space-24px);
}

header nav a {
    text-decoration: none;
    display: flex;
    justify-self: left;
    color: var(--white);
    font-weight: bold;
    font-size: var(--fs-m);
    align-self: center;
}

.container {
    width: 70%;
}

h2 {
    font-size: var(--fs-m);
}

/* FORMULÁRIOS */

.container form {
    width: 50%;
    height: auto;
    padding: var(--space-32px);
    border-radius: 8px;
    display: flex;
    gap: var(--space-16px);
    background-color: var(--secondary-color);
}

input,
select {
    width: 100%;
    border: 2px var(--secondary-color-outline) solid;
    border-radius: 8px;
    padding: var(--space-8px);
    margin-top: 10px;
    outline: none;
    background-color: var(--background-color);
}

input:focus,
select:focus {
    border-color: var(--third-color);
}

.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-4px);
}

.input-group,
.input-group-number,
.input-group-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: var(--space-24px);
}

input[type=number] {
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=date]::-webkit-datetime-edit {
    font-family: Arial, Helvetica, sans-serif;
}

.input-item .form-error {
    display: none;
    font-size: var(--fs-pp);
    color: var(--error);
}

input[type=checkbox]:checked {
    accent-color: var(--success);
}

.input-campo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/*Select Input MODE*/
.select-menu input {
    display: none;
}

.cadastro-btn {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    height: 42px;
    padding: var(--space-12px);
    border: none;
    border-radius: 8px;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    justify-content: center;
    cursor: pointer;
    background-color: var(--third-color);
}

.toggle-btn {
    width: 10%;
    height: 37px;
    padding: var(--space-4px);
    display: flex;
    align-self: flex-end;
    align-items: center;
}

/* TABELAS*/

img {
    width: var(--space-32px);
    height: var(--space-32px);
    cursor: pointer;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: var(--space-32px) 0px;
}


thead tr {
    border: none;
    border-bottom: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
}


nav p {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    z-index: 1;
}

nav span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    background-color: var(--third-color);
    transition: ease-in-out 0.3s;
}

nav p:nth-child(1):hover~span {
    left: 0;
}

nav p:nth-child(2):hover~span {
    left: 50%;
}

.title3 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.menu-selecao {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--space-32px);
}

tr {
    height: var(--space-32px);
    border: 1px solid var(--black);
    border-right: none;
    border-left: none;
    text-align: center;
}

td {
    border-collapse: collapse;
    padding: var(--space-4px);
    border: none;
}

/*RESPONSIVIDADE*/
/* 
@media (min-width: 576px) {

    body {
        width: 100%;
        height: 100%;
    }

    header nav a {
        font-size: var(--fs-p);
    }

    .container {
        width: 90%;
    }

    p {
        font-size: var(--fs-pp);
    }

    h2 {
        font-size: var(--fs-p);
    }

    #aviso {
        opacity: 0;
    }

    FORMULÁRIO

    .container form {
        width: 100%;
    }

    .input-campo {
        flex-direction: column;
        gap: var(--space-8px);
    }

    #input_cpf,
    #input_unidadeMedida {
        width: 100%;
    }

    button {
        width: 100%;
    }

    TABELAS

    table {
        font-size: var(--fs-pp);
    }
}


@media (min-width: 768px) {

    .container {
        width: 90%;
    }

    FORMULÁRIO

    .container form {
        width: 80%;
    }

    form input,
    select {
        width: 100%;
    }
} 
 */
