
.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}

.container section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.opcao-retorno {
    width: 100%;
    height: 150px;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}