header nav {
    width: 70%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding: 10px;
}

header nav a {
    text-decoration: none;
    display: flex;
    color: #ffffff;
    align-self: center;
}

header nav .logo {
    width: 55px;
    height: 50px;
}

header nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    justify-items: center;
    gap: 30px;
}

section {
    width: 300px;
    height: 300px;
    padding: 25px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #38364b6c;
    box-shadow: 0px 5px 5px #38364b6c;
}

section a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

h2 {
    color: #38364b;
}

.img-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
