* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 85%;
    height: auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 25%;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

form {
    width: 30%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background-color: rgb(175, 175, 175);
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 0;
}


/* CAPTCHA */
.captchaImg-container {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

#captchaImage {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.message-btn {
    display: none;
}

/*BTN*/
.submit-btn {
    width: 50%;
    height: 40px;
    border-radius: 8px;

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
}

.submit-btn:hover {
    transform: translate(0px, 2px);
    box-shadow: 3px 4px 5px 0px #0005;
}

#refreshButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    display: flex;
    transition: ease-in-out 0.2s;
}

#refreshButton:hover {
    transform: translate(-2px);
    box-shadow: 3px 4px 5px 0px #0005;
}

#refreshButton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* BTN end */
/* CAPTCHA */