
.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

form {
    width: 100%;
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #5e5e5e;
    margin-top: 10px;
}

button {
    width: 100px;
    height: 42px;
    padding: 10px;
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    text-align: center;
}