
.container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label{
    display: block;
}

button{
    width: 10%;
    height: 37px;
}

@media (max-width: 576px) {

    button {
        width: 100%;
    }
}
